.userForm{
    width: 50%;
    margin: 30px auto 0;
}

.changeButton, .saveButton{
    width: 150px;
}

.changeButton{
    display: block;
    margin-right: auto;
}

.form-control{
    font-weight: 500!important;
}

.userAvatar{
    width: 100px;
    height: 100px;
    margin: 0 0 15px;
}

.saveChangesUser{
    display: flex;
    justify-content: center;
}

.changeButton{
    margin: auto;
}